<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.dao.ShelterDao">
   <!--  <insert id="insertYoon" parameterType="map">
       	insert into user(id, pw, logtime)
       		values (#{id}, #{pw},now())
    </insert>
 
 	<select id="checkId" parameterType="map" resultType="String">
 		select  case when COUNT(*)=0
						then 'ok'
               			 else 'no'
                end status
		from user
		where id = #{id}
 	</select>
 	
 	<select id="checkPw" parameterType="map" resultType="integer">
 		select case when COUNT(*)=0
 						then '0'
 						else '1'
 					end status
 		from user
 		where pw = #{pw} and id=#{id};	
 				
			
 	</select> -->