@charset "EUC-KR";
html, body, #frame{
	height : 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}


#table{
	position: relative;
	margin: auto;
	height: 100%;
}


#tr_head{
	height: 50px;
    background: #f5f1f1;
}

#tr_head th{
	 text-align: center;
	 border-bottom: 2px solid #6b6969;
}


#btn_frame {
	height: auto;
    width: 3%;
    text-align : center;
    background: #f5f1f1;
    vertical-align: top;
    
}

#shel_addr_frame{
	
	height: 95%;
	overflow-y: scroll;
	
}
#shel_addr_content{
	margin :20px;
	padding :10px;
}

#shel_addr_content:hover{
	background: #f5f1f1;
}

#shel_addr_content li{
	 padding: 0px; 
    list-style: none;
}

#sName{
	font-weight: bold;
	margin :3.5px;
}

#sName, #aAddr {
	height: auto;
}

.gu_btn {
	background-color: #f5f1f1;
    display: block;
    border: 1px solid #eaeaea;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 15px;
    text-decoration: none;
    margin: 2px auto;
    vertical-align: top;
}


.gu_btn:hover {
	background-color:#c2c2c2;
}

.gu_btn:active {
	position:relative;
}


/*
#addr_frame .addr_table {
	
    border-collapse: collapse;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 1em;
}

구분  대피소
#addr_frame .addr_table thead th {
    padding: 4px;
    font-weight: bold;
    border-bottom: 2px solid #eaeaea;
    background: #f5f1f1;
    text-align: center;
}

#addr_frame .addr_table tbody td div {
	
    overflow : scroll-y; 
} 


#addr_frame .addr_table tbody .gu_btn_frame {
    width: 3%;
    text-align : center;
    background: #f5f1f1;
    vertical-align: top;
}


#addr_frame .addr_table tbody li {
    padding: 0px; 
    list-style: none;
}

.shel_content:hover {
	background: #f5f1f1;
}


.gu_btn {
	background-color: #f5f1f1;
    display: block;
    border: 1px solid #eaeaea;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 15px;
    text-decoration: none;
    margin: 2px auto;
    vertical-align: top;
}

#shel_content{
	list-style: none;
	margin : 10px;
	border-bottom: 2px solid #eaeaea;
}

.gu_btn:hover {
	background-color:#c2c2c2;
}

.gu_btn:active {
	position:relative;
}

#sName{
	font-weight: bold;
	margin :3.5px;
}

#sName, #aAddr {
	height: auto;
} */