@charset "EUC-KR";
html, body, #addr_frame{
	hieght : 100%;
	width: 100%;
	height: auto;
	padding: 0px;
	margin: 0px;
}


#addr_frame>table{
	position: relative;
	margin: auto;
	height: 100%;
}

/* 주소 테이블 */
#addr_frame .addr_table {
	
    border-collapse: collapse;
    text-align: left;
    line-height: 2.0;
    margin: auto;
    font-size: 1em;
}

/* 구분  대피소 */
#addr_frame .addr_table thead th {
    padding: 4px;
    font-weight: bold;
    border-bottom: 2px solid #eaeaea;
    background: #f5f1f1;
    text-align: center;
}

#addr_frame .addr_table tbody td div {
	
    overflow : scroll-y; 
} 


#addr_frame .addr_table tbody .gu_btn_frame {
    width: 3%;
    text-align : center;
    background: #f5f1f1;
    vertical-align: top;
}


#addr_frame .addr_table tbody li {
    padding: 0px; 
    list-style: none;
}

.shel_content:hover {
	background: #f5f1f1;
}


.gu_btn {
	background-color: #f5f1f1;
    display: block;
    border: 1px solid #eaeaea;
    cursor: pointer;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    padding: 9px 15px;
    text-decoration: none;
    margin: 2px auto;
    vertical-align: top;
}

#shel_content{
	list-style: none;
	margin : 10px;
	border-bottom: 2px solid #eaeaea;
}

.gu_btn:hover {
	background-color:#c2c2c2;
}

.gu_btn:active {
	position:relative;
}

#sName{
	font-weight: bold;
	margin :3.5px;
}

#sName, #aAddr {
	height: auto;
}