@charset "EUC-KR";
html, body{
	display: block;
	height:100%;
	padding: 0px;
	margin: 0px;
}

#widget1 {
	height:100%;
}

#widget1 > fieldset {
	height: 85%;
	padding: 0, auto;
}

#box {
	text-align: center;
	height: 95%;
}

.tablebox {
	display: inline-block;
	width: 48%;
	height: 48%;
	padding: 0;
	margin: 0;
}

table {
	width: 100%;
	height: 100%;
}

#widget1>table{
	position: relative;
	width: 100%;
	margin: auto;
	padding: auto;
}

td {
	width: 50%;
}

video{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}

::-webkit-scrollbar {width: 12px; height: 12px;  }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}
::-webkit-scrollbar-track {  background: rgba(0,0,0,.05); }
::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.1);  }
