@charset "EUC-KR";
html, body{
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}


#widget1{
	float: left;
	width: 40%;
	height: 100%;
}

#widget1>table{
	position: relative;
	width: 80%;
	height: 80%;
	margin: auto;
	top: 30px;
}

video{
	width: 250px;
	height: 180px;
}

#widget2{
	float: right;
	width: 60%;
	height: 50%;
}

#widget2>table{
	position: relative;
	width: 97%;
	height: 85%;
	margin: auto;
	top: 30px;
	overflow: scroll;
}

#widget2 .type08 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-left: 1px solid #ccc;
    margin: auto;
    font-size: 9pt;
}

#widget2 .type08 thead th {
    padding: 10px;
    font-weight: bold;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 2px solid #c00;
    background: #dcdcd1;
}

#widget2 .type08 tbody th {
    width: 100px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #ececec;
    overflow: scroll;
}

#widget2 .type08 tbody th button{
    margin: 10px;
}

#widget2 .type08 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

#map{
	float: right;
	width: 60%;
	height: 50%;
	overflow: scroll;
}

::-webkit-scrollbar {width: 12px; height: 12px;  }
::-webkit-scrollbar-button:start:decrement, 
::-webkit-scrollbar-button:end:increment {display: block; width: 12px;height: 12px; background: url() rgba(0,0,0,.05);}
::-webkit-scrollbar-track {     background: rgba(0,0,0,.05); }
::-webkit-scrollbar-thumb {  background: rgba(0,0,0,.1);  }
